@font-face {
    font-family: 'outfit';
    src: url('/ibautolub/public/font/Outfit-VariableFont_wght.ttf');
}
body{
    overflow-x: hidden;

}
nav{
   background: #590817;
}
.ml-3{
    margin-left: 0.3rem;
}
.box{
    
    margin: 2rem 0rem 0rem 0rem;
    width: 100%;
    height: 100%;
}
.box-title h5{
    margin-left: 3rem;
    font-size: 2rem;
    font-family: 'outfit';
}
.box-opcoes{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1 0 300px;
    gap: 10px;
}
.card-opcao-title{
    
}
.card-opcao{
     
}
.card-opcao-body{
    border-radius: 15px;
    width: 300px;
    background-color: #590817;
    height: 300px;
    
}
.config-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 1rem;
}
.config-img img{
    margin-top: 2rem;
    cursor: pointer;
   
    transform: rotateZ(0deg);
    filter:drop-shadow(5px 15px 5px #000)
}
.config-img h3{
    filter:drop-shadow(5px 15px 5px #000);
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
}

.painel-formulário{
   
    margin: 1rem;
    padding: 1rem; 
 
    top: 30%;
    left: 10%;
}
.opcao-funcao{
    background-color: #f2f2f2f2;
    box-shadow: 5px 5px 5px #c3c3c3c3;
    border-radius: 10px;
    padding: 1rem;
}
.opcao-funcao-title h5{
    font-size: 1.8rem;
}
.opcao-funcao-body{
    width: 100%;
 
    display: flex;
    justify-content: center;
}
.opcao-funcao-body form{
   margin-top: 0.9rem;
    width: 60%;
}
.mostrar{
    font-size: 2rem;
    display: block;
    position: absolute;
    width: 100%;
}
.mostrar h5{
    font-size: 2rem;
}
.apagar{
    font-size: 2rem;
    display: none;
}
.painel-pesquisa{
   
    padding: 1rem;
    background-color: #f2f2f2f2;
    box-shadow: 5px 5px 5px #303030;
    border-radius: 5px;
    

}
.painel-pesquisa h5{
    font-size: 2rem;
}
.painel-pesquisa-body{
   display: flex;
   justify-content: center;
    
}
.painel-pesquisa-body .input-group{
    margin-top: 1rem;
    width: 600px;
}
.painelSenha{
   flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box-manager{
    overflow-y: hidden;
    
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow: auto!important;
    
}
.painel-relatorio{
   
    margin: 3rem;
    padding: 1rem;
}
.painel-ralatorio-title h5{
    font-size: 1.7rem;
}
.painel-relatorio-venda-body{
   
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 5px;
   
}
.box-manager-card{
    width: 250px;
    height: 180px;
    border-radius: 10px;
    background-color: #f2f2f2f2;
    margin-top: 1rem;    
    box-shadow: 5px 5px 5px #d2d2d2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
.box-manager-card p{
    font-size: 1rem;
    font-weight: 100;
}
.box-manager-card h5{
    padding: 1rem;
    text-align: center;
    font-size: 1.7rem;
}
.box-cadastramaneto{
    
    margin: 3rem;
    padding: 1rem;
}

.box-cadastramento-title h5{
    width: 100%;
   
    font-size: 2rem;
}
.config-filtro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.painel-cadastrar-receita{
    
    width: clamp(400px,50%,800px);
    position: absolute;
    z-index: 4;
    border-radius: 13px;
    padding: 1rem;
    left: clamp(10px,10%,800px);
    background: #f2f2f2;
    box-shadow: 10px 10px 10px 10px #d2d2d2d2;

}
.form-cadastrar-title{
    display: flex;
    justify-content: space-between;
}

.form-cadastrar-title h5{
    width: 100%;
    font-size: 1.3rem;

    text-align: center;
}
.painel-contas{
    z-index: 1;
    position: relative;
    
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.card-contas{
   
    width: 300px;
    height: 150px;
    border-radius: 14px;
    box-shadow: 5px 5px 5px 5px #d2d2d2d2;
    
}
.card-contas-body{
    padding: 0rem 1rem 0rem 1rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
.config-info label{
    font-weight: 400 !important;
    font-size: 1.3rem;
}
.card-contas-title{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
.card-contas-title p{
    width: 100%;
    
    text-align: center;
}
.config-info p{
   
    font-size: 20px;
    font-weight: 200;
}
.view-despesas{
   
    margin: 3rem;
    padding: 1rem;
}
.view-despesas-title h5{
    font-size: 2rem;
    font-weight: 300;
}
.content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.linha-vertical{
    border-left: 1px solid red;
    height: 100px;
    padding: 0rem 1rem 0rem 1rem;
}
.box-filtro{
  width: 75%;
}
.group-label{
  margin-top: 1rem;
}
.box-pesquisa{
    padding: 1rem;
    
    border: 1px solid grey;
    border-radius: 9px;
    padding: 1rem;
    width: clamp(300px,50%,600px);
}
.box-pesquisa .label{
    position: absolute;
    margin-top: -30px;
    background:white ;
    padding: 0.2rem;
}
.config-opcoes{
    display: grid;
  
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    
    flex-wrap: wrap;
}
.config-data{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    display: flex;
}
.box-solicitacao-api{

    position: absolute;
    width:75%;
    margin-left: 5%;
    place-items: center;
    padding: 1rem;
}
.box-table{
    width:100%;
    box-shadow: 10px 10px 10px #f2f2f8;
    background-color: #f2f2f2;
    border-radius: 16px;
    height: 600px;
    overflow: auto;
    padding: 1.5rem;
}
.card-dados-pesquisa-body ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    
}
.card-dados-pesquisa-body ul li{
   margin: 1rem;
   
    
}
.box-table-body{
   
    background-color: white;
    padding: 1.5rem;
}

